.container {
  max-width: 100vmin;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: clamp(0.7ex, 1.4ex + 2vmin, 2.5ex);
  font-size: clamp(2.7vmin, 300%, 6vmin);
  font-family: monospace;
  border-radius: 12%;
  margin: clamp(5px, 1vmin, 20px);
  background-color: rgb(196, 184, 171);
}

.color {
  color: rgb(17, 222, 188);
  justify-content: center;
  font-size: 4vmin;
}

body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.ws3 {
  height: 6vmin;
}

/* Style for disabled buttons */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
